@media(max-width: 320px) {
    .header__title{
        font-size: 20px;
        line-height: 26px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .logo{
        width: 200px;
        height: 200px;
    }
    .form{
        width: 290px;
        margin: 0 auto;
        &__input{
            width: 230px;
        }
        &__title{
            font-size: 14px;
        }
    }
    .files{
        &__list{
            flex-direction: column;
        }
        &__item{
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 0;
        }
        &__title{
            text-align: center;
        }
    }
    .content{
        
        &-top{
            padding-bottom: 530px;
        }
        &-top__image img{
            height: auto;
            width: 100%;
        }
        &-top__main{
            top: 75px;
        }
        &-top__text{
            text-align: justify;
        }
        &-bottom{
            margin-top: 152px;
        }
        &-bottom__main{
            flex-direction: column;
            padding-bottom: 0;
        }
        &-bottom__computer{
            height: auto;
            width: 100%;
        }
        &-bottom__btn{
            margin-bottom: 200px;
        }
        &-bottom__desc{
            text-align: justify;
        }
        &__line{
            top: 630px;
        }
        
    }
    .title{
        font-size: 25px;
        text-align: center;
    }
    .contact{
        &__inner{
            width: 300px;
            height: 300px;
        }
        &-form{
            padding-top: 36px;
        }
        &__name,
        &__email,
        &__message{
            width: 175px;
        }
        &__image{
            width: 55px;
            height: 55px;
        }
    }
}