*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

h2 {
  margin: 0;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 600;
}

.header {
  background-image: url("/images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 800px;
  height: 100%;
}
.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 70px;
}
.header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__title {
  color: #ffffff;
  font-size: 50px;
  line-height: 62px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
  display: block;
  padding-bottom: 280px;
}
.header__title--bold {
  font-weight: 700;
}

.logo {
  width: 275px;
  height: 275px;
  border-radius: 50%;
  background-color: #000000;
  position: relative;
  margin-bottom: 70px;
}

.form {
  position: relative;
}
.form__inner {
  margin-top: 25px;
  max-width: 333px;
  padding-top: 30px;
  padding-bottom: 25px;
  border-radius: 2px;
  position: absolute;
  top: -223px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.28);
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.form__input {
  width: 245px;
  padding: 13px 15px 15px 16px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}
.form__input::placeholder {
  color: #b4adad;
  font-size: 15px;
}
.form-gallery {
  padding: 0;
  margin-top: 23px;
  width: inherit;
  display: flex;
  flex-wrap: wrap;
}
.form-gallery__row {
  display: flex;
  max-height: 43px;
  width: inherit;
}
.form-gallery__item {
  margin: 0;
  padding: 0;
}
.form-gallery__image {
  width: 100%;
  height: 43px;
}
.form__title {
  margin-top: 25px;
  padding: 0 45px;
  color: #938e8e;
  font-size: 16px;
}
.form__button {
  margin-top: 27px;
  display: inline-block;
  padding: 12px 38px 14px;
  background-color: #227dd3;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
}

.files__inner {
  margin-top: 185px;
}
.files__list {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  margin-bottom: 108px;
}
.files__item {
  max-width: 406px;
  margin-left: 10px;
  display: inline-block;
  flex-direction: row;
}
.files__image {
  margin-right: 30px;
  float: left;
}
.files__title {
  font-size: 28px;
  font-weight: 600;
  color: #000;
}
.files__description {
  color: #4f4e4e;
}

.content {
  background-color: #5fc18b;
  color: #fff;
  padding-top: 85px;
  position: relative;
}
.content-top__inner {
  max-width: 750px;
  margin: 0 auto;
  position: relative;
}
.content-top__image {
  z-index: 1;
}
.content-top__main {
  max-width: 600px;
  padding: 0 15px;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 160px;
}
.content-top__title {
  text-align: center;
  margin-top: 10px;
}
.content__line {
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 336px;
  width: 100%;
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  top: 460px;
}
.content-bottom {
  padding-top: 20px;
  margin-top: 340px;
  background-color: #44a36f;
}
.content-bottom__main {
  display: flex;
}
.content-bottom__left-side {
  margin-right: 20px;
}
.content-bottom__right-side {
  max-width: 510px;
}
.content-bottom__desc {
  margin-bottom: 40px;
}
.content-bottom__btn {
  font-weight: 600;
  color: #fff;
  font-size: 28px;
  border: 3px solid #fff;
  padding: 17px 36px 21px;
  display: inline-block;
  border-radius: 8px;
}

.contact {
  background-image: url("/images/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.contact__inner {
  width: 430px;
  height: 430px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 135px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.contact-form {
  padding: 113px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__name, .contact__email, .contact__message {
  width: 275px;
  margin-bottom: 13px;
  border: 1px solid #d8d8d8;
  padding: 12px 17px 11px;
}
.contact__message {
  resize: none;
  height: 80px;
}
.contact__name::placeholder, .contact__email::placeholder, .contact__message::placeholder {
  color: #4c505d;
}

.footer {
  background-color: #43a06d;
}
.footer__text {
  text-align: center;
  color: #fff;
  padding: 20px 0 17px;
}
